.contact-window{
    padding: 0;
}

.contact-form-al{
    background-color: #B0BBFF;
    margin-bottom: 2rem;

}

.input-text{
    margin: 3rem 0;
    
}

.label-contact-form {
    text-align: left;
}