/*font face import of poppins*/

@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Regular.ttf);
    font-weight: normal;
}

  @font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Black.ttf);
    font-weight: bold; 
}

@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-ExtraBold.ttf);
    font-weight: 900; 
}

@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Light.ttf);
    font-weight: lighter; 
}

@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-Medium.ttf);
    font-weight: 500; 
}
@font-face {
    font-family: "Poppins";
    src: url(font/Poppins-SemiBold.ttf);
    font-weight: 700; 
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
}

.flex{
    display: flex;
    gap: var(--gap, 2rem);
}

body{
    overflow-x: hidden;
}

.primary-header{
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: #B0BBFF;
    padding: 1rem 2rem;
    margin: 0;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 0%, 0.75)

}

@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsla(300, 38%, 75%, 0.2);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: normal;
}

.primary-header a > [aria-hidden="true"]{
    margin-inline-end: 0.75em;
}

.mobile-nav-toggle{
    display: none;
}

.skillset{
    list-style: none;
    font-size: 1.8em;
}

.skillset li{
    font-weight: 500
}


footer{
    position: fixed;  
    inset: 93vh 0 0 0;
    background-color: #B0BBFF;
    text-align: center;    
    padding: 0.7rem 0;
}

footer img{
    height: 35px;
    margin: 0.5rem 2rem 0 2rem;
}

/* Old about me content styling */
.button-round{
    background: #B0BBFF;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.gallery-certificates img{
    max-width: 20vw;
    max-height: auto;
    margin: 2rem 3rem;
    box-shadow: 8px 7px 1px#b0baff53;
    transition: transform 0.5s;
    border-radius: 10px;
    padding: 0;
}

.gallery-certificates img:hover{
    transform: scale(1.2);
}
@media (max-width: 35em) {

    .primary-header{
        padding: 2.2rem 2rem;
        margin: 0 0 1.2em 0;
    }

    .primary-navigation{
        --gap: 2em ;
        position: fixed;  
        inset:0 0 0% 35%;
        flex-direction: column;    
        padding: min(30vh, 10rem) 2em;
        background:  hsla(232, 100%, 85%, 0.413);
        backdrop-filter: blur(1rem); 
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);    
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background-color: transparent;
        background-image: url(Pictures/hamburger_nav.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 3rem;
        aspect-ratio: 1;
        top: 1.2rem;
        right: 1.3rem;
        border: 0;
        z-index: 999;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(Pictures/close_nav.png);
        width: 2rem;
    }

    .big-img{
        align-items: center;
        padding: 1.4rem 0 6rem 0;
        width: 100%;
    }

    .body_contain{
        padding: 0 2rem;
    
    }

    .name{
        font-size: 2rem;
    }

    .skillset{
        font-size: clamp(1rem, 1.5rem, 4rem );
        white-space: nowrap;
        padding: 0;
    }
    
    .name_abilites{
        width: fit-content;
    }

    footer img{
        height: 30px;
        margin: 0rem 1.5rem 0 1.5rem;
    }

    /* Old about me content styling */

    .round-window{
        border-color: #B0BBFF;
        border-width: 20px 4px 10px 4px;
        border-radius: 15px;
        border-style: solid ;
        padding: 10px;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }
    .round-window img{
        padding: 2rem 1rem;
        max-width: 75vw;
        max-height: auto;

    }

    .text{
        text-align: left;
        padding: 1rem;
    }

    .container-simple{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-image{
        max-width: 80vw;
        margin: 5rem 0;
    }

    .certificate{
        max-width: 60vw;
        margin: 0 0 5rem 0;
    }


    .gallery-certificates img{
      max-width: 65vw;

      padding: 0;
      margin: 1rem;
 

    }


    .spacer{
        padding: 4rem;
    }
}