
.heading{
    font-size: 1.9rem;
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0 2rem;
    border-bottom: 5px solid #333;
}

.skillset-gallery{
    font-size: 1.8em;
    font-size: clamp(1rem, 1.5rem, 4rem );
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 5vh;
}

.skillset-gallery li {
    white-space: nowrap;     
}
.skillset-gallery li a{
    font-weight: 500;
    font-size: 1.55rem;
}

.skillset-gallery a {
    display: block;
    padding: 0.2rem 0.5rem ;
    text-decoration: none;
    color: #333;
}



@media (max-width:35em){

    .heading{
        margin: 0 0 1rem 0;
    }
    
    .skillset-gallery{
        margin: 0;
    }

    .gallery-img{
        width: 70vw;
        margin: 1rem;
        padding: 0.1rem;
        border-color: #B0BBFF;
        border-width: 4px 4px 10px 4px;
        border-radius: 15px;
        border-style: solid ;
    }

}

