.undertext{
    font-size: 1rem;
    padding: 0 1.5rem;

}

.doubleline-text{
    line-height: 0.7;
    margin: 2rem 0 0 0 ;
}

.noborder{
border: none;
}

@media (min-width: 35em) {

    .body_contain{
        padding: 3rem;
    }

    .name{
        padding: 1rem 0 1rem 0 0;
        white-space: nowrap;
        font-size: clamp(1.5rem, 5vw, 6rem)
    }

    .skillset{
        padding: 1rem 0 2rem 0;
        font-size: clamp(1.5rem, 3.5vw, 4.2rem)

    }

    .name-skills{     
        max-width: 30%;
    }

    .index-preview{
        display: flex;
        min-height: 90vh;
        white-space: nowrap;
    }

    .big-img{
        position: absolute;
        right: 3rem;
        width: 40%;
        height: fit-content;
    }

}
